        <!-- views/partials/quiz.ejs -->
        <!-- Modal to hold the quiz -->
        <div class="modal fade" id="quizModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <!-- Modal header with heading -->
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><%- quiz.heading %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <!-- Modal body with the question for the quiz -->
              <div class="modal-body">
                <u><%- quiz.question %></u><br><br>
              </div>
              
              <!-- Potential answers for the quiz -->
              <div class="quiz" id="quiz" data-toggle="buttons">
                   <label class="element-animation1 btn btn-lg btn-danger btn-block" id="ans1"><span class="btn-label"></span><%- quiz.q1 %></label>
                   <label class="element-animation2 btn btn-lg btn-danger btn-block" id="ans2"><span class="btn-label"></span><%- quiz.q2 %></label>
                   <label class="element-animation3 btn btn-lg btn-danger btn-block" id="ans3"><span class="btn-label"></span><%- quiz.q3 %></label>
                   <label class="element-animation4 btn btn-lg btn-danger btn-block" id="ans4"><span class="btn-label"></span><%- quiz.q4 %></label>
               </div>
                
                <!-- Display if the answer is correct or not -->
               <span id="answer" class="text-center"></span>
               
               <!-- Modal footer with buttons -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%- close %></button>
              </div>
            </div>
          </div>
        </div>
