<!-- views/partials/staysafe.ejs -->
<!-- Create a container in the center of the page -->
            <div class="container d-flex h text-center align-items-center">

                <!-- Symptoms column -->
                <div class="col">
                    <h1 class="display-4 redHeadings"><%- symtpomsData.heading %></h1>
                    <p class="text-justify"><%- symtpomsData.s1 %></p>
                    <p class="text-justify"><%- symtpomsData.s2 %></p>
                    <p class="text-justify"><%- symtpomsData.s3 %></p>
                    <p class="text-justify"><%- symtpomsData.s4 %></p>
                    <p class="text-justify"><%- symtpomsData.s5 %></p>
                </div>
                <!-- End of symptoms column -->
                <!-- Prevention column -->
                <div class="col">
                    <h1 class="display-4 redHeadings"><%- preventionData.heading %></h1>
                    <p class="text-justify"><%- preventionData.p1 %></p>
                    <p class="text-justify"><%- preventionData.p2 %></p>
                    <p class="text-justify"><%- preventionData.p3 %></p>
                    <p class="text-justify"><%- preventionData.p4 %></p>
                </div>
                <!-- End of prevention column -->
                
                
            </div>
            <!-- End of container -->
            
            <br><br>
            <p class="text-center">Click <a data-toggle="modal" data-target="#quizModal" href="#">HERE</a> to test your stay safe knowledge.</p>
