
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<!-- Start of body -->
<body>

    <!-- Virus image that follows the cursor -->
    <div id="image">
        <img src="img/virus.png" alt="virus">
    </div>

    <!-- Video header that starts a video automatically and loops it -->
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://www.sandwichmelody.com/wp-content/uploads/2020/01/video2.mp4" type="video/mp4">
        </video>

        <!-- Align a title in the middle of video header -->
        <div class="container h-100">
            <!-- Template for the video text -->
            <%- include('../partials/videoText') %>
        </div>
    </header>
    <!-- End of video header -->

    <br>
    <br>
    <!-- Nav bar -->
    <%- include('../partials/navbar') %>
        <!-- End of nav bar -->

        <!-- Create a container to display each tab in -->
        <div class="tab-content py-3 px-3 px-sm-0 d-flex justify-content-center" id="nav-tabContent">
            <!-- Tab content for the homepage -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <!-- Flash the text for the infected total -->
                <%- include('../partials/infectedTotal') %>
                    <!-- End flash -->

                    <!-- Container to store about NCOV and tweets -->
                    <div class="container-fluid">
                        <div class="row" id="containerRows">
                            <!-- About NCOV Template -->
                            <%- include('../partials/aboutNcov') %>

                            <!-- Twitter Publish Template -->
                            <%- include('../partials/twitterPublish') %>
                        </div>
                    </div>
                    <!-- End of container -->

                    <!-- Google Map -->
                    <%- include('../partials/googlemap') %>
            </div>
            <!-- End of tab content for the homepage -->

            <!-- Tab content for the timeline page, data passed in from db -->
            <div class="tab-pane fade show" id="nav-timeline" role="tabpanel" aria-labelledby="nav-timeline-tab">
                <!-- The timeline -->
                <div class="timeline">
                    <!-- Template to show timeline from database -->
                    <!-- To view the output from the db you can also go to the /showtimeline route -->
                    <%- timeline %>
                </div>
            </div>
            <!-- End of tab content for the timeline page -->

            <!-- Tab content for the stay safe and symptoms page -->
            <div class="tab-pane fade show" id="nav-staysafe" role="tabpanel" aria-labelledby="nav-staysafe-tab">
                <%- include('../partials/staysafe') %>
            </div>
            <!-- End of tab content for the stay safe and symptoms page -->
        </div>

        <!-- Back to top button -->
        <a id="back-to-top-a"><img id="back-to-top" src="img/iconfinder_Arrow_Drop_Up_1063880.png" /></a>

        <!-- Template for the contact modal -->
        <%- include('../partials/contact') %>
    
        <!-- Template to show footer with copyright-->
        <%- include('../partials/footer') %>
            <!-- End of footer -->
        
        <!-- Template for the quiz modal -->
        <%- include('../partials/quiz') %>
</body>
<!-- End of body -->

</html>
